<cdk-virtual-scroll-viewport [itemSize]="40">
<div *cdkVirtualFor="let item of items"
     class="item">
     {{ item }}
</div>
</cdk-virtual-scroll-viewport>

<br />
<br />

If you press "List 1" and then "List 4" it looks OK.<br /><br />
But see what happens when you slick in sequence "List 1" -> "List 2" -> "List 3" -> "List 4".<br /><br />
You can see at the bottom that the list updates, but virtual scroll doesn't render the new items.<br /><br />


<div>
     @for (i of [1, 2, 3, 4]; track i){
          <button mat-raised-button
          color="primary"
          (click)="updateItems(i)">
          List {{ i }}
     </button>
     }
</div>


<div>
     Actual list: <br />
     {{ items | json }}
</div>